<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body bgcolor="#ffb6c1">
    <h1>桜の名所100選一覧</h1>
    <form action="/" method="POST">
      <input type="submit" name="prefName" value="一覧を取得する">
    </form>
    <table border="1" >
      <tr>
        <th>URI</th>
        <th>名称</th>
        <th>Google Map</th>
      </tr>   
        <% for (var i = 0; i < 100; i++) { %>
          <tr>
            <td ><a href=<%= web[i].uri %> target="_blank">Wiki</a></td>
            <td><%= web[i].name %></td>
            <td><a href='http://maps.google.com/maps?q=<%= web[i].lat %>,<%= web[i].lng %>' target="_blank">地図で見る</a></td>
          </tr>
        <% } %>
      </tr>
    </table>
   <body>
</html>