<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body bgcolor="#ffb6c1">
    <h1>桜の名所100選一覧</h1>
    <form action="/" method="POST">
      <input type="submit" name="getList" value="一覧を取得する">
    </form>    
   <body>

</html>